.navlogo {
   background-color:  #1A187A;
   padding: 20px;
}
.logo {
    
    width: 150px;
    height: 50px;
    
} 
/* 
.banner {
    background-image: url("https://i.ibb.co/mH6V33J/banner-bg.jpg");
} */


.overflow-visible {
    overflow: visible !important;
}